table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.refreshButton{
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 34px;
}

.inputBox{
  width: 1.4em;
  height: 1.4em;
  margin-left: 8px;
}

.inputLabel{
  display: flex;
  align-items: baseline;
}

.checkboxSpan{
  font-size: 1.4em;
}

.buttonsDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
